<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.warkahot.nitjcompanion">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".push"
        android:allowBackup="true"
        android:icon="@drawable/icon"

        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:replace="label,icon">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/No_status_bar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Navigation_drawer"
            android:launchMode="singleTop"
            android:theme="@style/No_status_bar">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Events_main"
            android:label="NitJ-Events"
            android:launchMode="singleTop"
            android:parentActivityName=".Navigation_drawer"
            android:theme="@style/BaseTheme">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.warkahot.nitjcompanion.Navigation_drawer" />
            >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Placements"
            android:label="NitJ-Placements"
            android:launchMode="singleTop"
            android:parentActivityName=".Navigation_drawer"
            android:theme="@style/BaseTheme">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.warkahot.nitjcompanion.Navigation_drawer" />
            >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".settings"
            android:label="NitJ-Placements"
            android:launchMode="singleTop"
            android:parentActivityName=".Navigation_drawer"
            android:theme="@style/BaseTheme">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.warkahot.nitjcompanion.Navigation_drawer" />
            >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".support"
            android:label="NitJ-Placements"
            android:launchMode="singleTop"
            android:parentActivityName=".Navigation_drawer"
            android:theme="@style/BaseTheme">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.warkahot.nitjcompanion.Navigation_drawer" />
            >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".society_main"
            android:label="NitJ-Societies"
            android:launchMode="singleTop"
            android:parentActivityName=".Navigation_drawer"
            android:theme="@style/BaseTheme">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.warkahot.nitjcompanion.Navigation_drawer" />
            >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".select_society_main"
            android:launchMode="singleTop"
            android:theme="@style/BaseTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".article_main"
            android:label="NitJ Articles"
            android:launchMode="singleTop"
            android:parentActivityName=".Navigation_drawer"
            android:theme="@style/BaseTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.warkahot.nitjcompanion.Navigation_drawer" />
            >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".article_main2"
            android:label="Article"
            android:launchMode="singleTop"
            android:parentActivityName=".article_main"
            android:theme="@style/BaseTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.warkahot.nitjcompanion.article_main" />
            >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Boys_girls_hostel1"
            android:label="NitJ Mess"
            android:launchMode="singleTop"
            android:parentActivityName=".Navigation_drawer"
            android:theme="@style/BaseTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.warkahot.nitjcompanion.Navigation_drawer" />
            >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Boys_girls_hostel2"
            android:launchMode="singleTop"
            android:parentActivityName=".Boys_girls_hostel1"
            android:theme="@style/BaseTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.warkahot.nitjcompanion.Boys_girls_hostel1" />
            >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Boys_girls_hostel3"
            android:launchMode="singleTop"
            android:parentActivityName=".Boys_girls_hostel2"
            android:theme="@style/BaseTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.warkahot.nitjcompanion.Boys_girls_hostel2" />
            >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Boys_girls_hostel4"
            android:launchMode="singleTop"
            android:parentActivityName=".Boys_girls_hostel3"
            android:theme="@style/BaseTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.warkahot.nitjcompanion.Boys_girls_hostel3" />
            >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".society_main_2"
            android:launchMode="singleTop"
            android:parentActivityName=".society_main"
            android:theme="@style/BaseTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.warkahot.nitjcompanion.society_main" />
            >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <service
            android:name=".MyFirebaseMessagingService"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>
